<div class="container">
  <div class="row searchbox ">
    <div class="col-md-6 col-md-offset-3">

      <%= form_for posts_path, :method => 'get' do %>
          <div class="input-group">
            <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Search for..." %>
            <span class="input-group-btn">
            <%= submit_tag "GO!", class: "btn btn-default", name: nil %>
            </span>
          </div>
      <% end %>

    </div>
  </div>

  <div class="row">

    <div class="col-md-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Categories</h3>
        </div>

        <div class="panel-body category-search">
          <% @posts.response.response['facets']['categories']['terms'].each do |c|  %>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="<%= c['term'] %>"><%= "#{c['term'].capitalize()}(#{ c['count']})" %>
                </label>
              </div>
          <% end %>
        </div>
      </div>

      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Locations</h3>
        </div>

        <div class="panel-body location-search">
          <% @posts.response.response['facets']['location']['terms'].each do |l| %>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="<%= l['term'] %>"><%= "#{ l['term'].capitalize()}(#{ l['count']})" %>
                </label>
              </div>
          <% end %>
        </div>
      </div>

      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Price</h3>
        </div>
        <div class="panel-body">
          Price panel
        </div>
      </div>
    </div>

    <div class="col-md-9 posts-content">
      <%= paginate @posts,:remote => false %>
      <div class="row">
        <% @posts.each do |post| %>
            <%= render partial: 'post',object: post %>
        <% end %>
      </div>
      <%= paginate @posts %>
    </div>
  </div>

</div>