<div class="container">

<%= form_for @post, html: {class: "form-horizontal"} do |f| %>

      <div class="form-group">
        <label for="inputEmail3" class="col-md-2 control-label">Title</label>
        <div class="col-md-8">
          <%= f.text_field :title, class: "form-control", placeholder:"Title" %>
        </div>
      </div>

      <div class="form-group">
        <label for="inputEmail3" class="col-md-2 control-label">Title</label>
        <div class="col-md-8">
          <%= f.text_field :title, class: "form-control", placeholder:"Title" %>
        </div>
      </div>


      <div class="row">

       <div class="col-md-2">
         <p>Title</p>
       </div>

       <div class="col-md-10">
         <%= f.text_field :title %>
       </div>

     </div>

    <%= f.text_area :desc, size: "60x12" %>
    <%= f.submit "Create" %>
<% end %>

</div>